body {
  padding-top: 50px;
}

DIV.t-beaneditor {
	background: none;
	border: none;
}

DIV.t-beaneditor LABEL {
	width: 120px;
	float: left;
	text-align: left;
	clear: left;
}

input.t-beaneditor-submit {
	position: relative;
	left: 120px;
}

dl.t-beandisplay {
	background: none;
	border: none;
	margin-bottom: 0px;
}

dl.t-beandisplay dt {
	text-align: left;
	width: 25%;
}


.btnRight {
	text-align: left ;
}

.btnTiType {
	text-align: left ;
}


.addelements {
	outline: #000 dashed thin;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
}



.caret.full {
  position: absolute;
  right: 1%;
  top: 45%;
}